/node_modules
/public/hot
/public/storage
/public/images
/public/thumbnail
/storage/*.key
/storage/images
/storage/users
/test
/.vscode
/.phpintel
.env.example
Diagrama1.dia
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.zip
proyecto-laravel.rar
public.rar